body{
    margin: 0;
}
.container{
    background-color: rgb(87, 152, 41);
    height: 600px;
    width: 100%;
}
.container div{
    position: absolute;
    font-size: 40px;
}
.container div:nth-child(1){
    left:10%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(2){
    left:20%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(3){
    left:30%;
    animation: animasi 6s infinite linear;
}
.container div:nth-child(4){
    left:40%;
    animation: animasi 3s infinite linear;
}
.container div:nth-child(5){
    left:50%;
    animation: animasi 2s infinite linear;
}
.container div:nth-child(6){
    left:60%;
    animation: animasi 6s infinite linear;
}
.container div:nth-child(7){
    left:70%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(8){
    left:80%;
    animation: animasi 3s infinite linear;
}
.container div:nth-child(9){
    left:90%;
    animation: animasi 6s infinite linear;
}
.container div:nth-child(10){
    left:100%;
    animation: animasi 3s infinite linear;
}
@keyframes animasi {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(500px);
    }
}